.CheckoutSummary{
    text-align: center;
    width: 80%;
    margin: 15px auto;
}

@media (min-width: 500px) and (min-height: 400px) {
    .CheckoutSummary {
        width: 350px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .CheckoutSummary {
        width: 450px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .CheckoutSummary {
        width: 700px;
    }
}